:root {
  --background-color: #202124;
  --border: 1px rgb(88, 88, 88) solid;
  --primary-color: rgb(33, 134, 228);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: white;
}

.noNotes {
  text-align: center;
  margin-top: 15rem;
  font-size: 2rem;
  color: rgb(88, 88, 88);
}

.noteContainer {
  margin: 3rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}
